nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: .75em
}


.nav-link {
    display: inline-block;    
    text-decoration: none;
    color: green;
    padding: 1em;
}
