.aimRange {
  display: block;
  height: 80vh;
  background-color: black;
  color: white;
  cursor: crosshair;
  overflow: hidden;
}

.target {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  visibility: hidden;
}

#activeTarget {
  background-color: white;
  visibility: visible;
}

.targetList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  margin: 1em;
}