.aimRange {
  display: block;
  height: 80vh;
  background-color: black;
  color: white;
  cursor: crosshair;
}

.target {
  height: 35px;
  width: 35px;
  background-color: aliceblue;
  border-radius: 50%;
}

.targetList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  margin: 1em;
}